<!DOCTYPE html>
<html><head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Table</title>
  

</head>
<body>
  <a href="/backend">Home</a><br><br>
    <h1>User Table</h1>
    <div>
      <table id = "myTable" border="2">
        
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Password</th>
                <th>Ip</th>
                <th>Useragent</th>
                <th>Date</th>
                           
            </tr>
        
            <% rows.forEach(row => { %>
              <tr>
                <td><%= row.id %></td>
                <td><%= row.username %></td>
                <td><%= row.password %></td>
                <td><%= row.ip %></td>
                <td><%= row.useragent %></td>
                <td><%= row.date %></td>
               
              </tr>
            <% }); %>
        
        
    </table>
</div>

  
   
</body>
</html>
